<div class = "jumbotron">
  <h1>Agenda de Contatos</h1>

  <p>
    Um sistema para gerenciamento dos seus contatos!
  </p>

  <p>
    <%= link_to 'Criar minha conta', '#',
        class: 'btn btn-primary btn-lg' %>
  </p>
</div>
