<h1>Sobre</h1>

<p>
  Olá! Esta agenda de contatos foi criada com o framework <b>Ruby on Rails!</b> Gostaria
  de ver o código fonte? Consulte-o no <a href = "https://github.com/DyegoWolf/agenda-de-contatos" target = "blank">GitHub</a>!
</p>
