// Imports do bootstrap
@import "bootstrap-sprockets";
@import "bootstrap";

footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid black;
  color: blue;

  a{
    color: gray;

    &:hover{
      color: black;
    }
  }

  small{
    float: left;
  }

  ul{
    float: right;
    list-style: none;

    li{
      float: left;
      margin-left: 15px;
    }
  }
}
